html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    padding: 15px;
}

/*Login Page Styling BEGIN*/

/*Login Page Styling END*/

.h1-title {
    text-align: center;
    font-weight: 700;
}

.padding-header {
    padding-top: 10px;
}

#shopping_cart_table {
    width: 100%;
}
.home-image {
    align-content: center;
    width: 80%;
    background-color: white;
}

.home-image img:hover {
    opacity: 0.5;
}

.table-striped {
    border-collapse: collapse;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 0.9em;
    overflow: hidden;
    padding: 0;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

.table-striped tbody tr:last-of-type {
    border-bottom: 2px solid rgb(248, 161, 69);
}

.table-striped tbody th {
    font-weight: lighter;
}

.table-striped thead {
    font-weight: 400;
    font-size: 1.2em;
    background-color: rgb(248, 161, 69);
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #2196F3;
    padding: 5px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

a:link {
    color: #e67e00;
}

a:visited {
    color: #e67e00;
}